# Add environment variables here (keep secrets out of source control)
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2E0MDU2MmJmYWUyMTg3ZTk3OGJlMDJjMzcwM2VjYzA2NzA1NWVhYjdhMWIwNmYxNDViODEyODI5NmU5MmQwZmEiLCJhcHBJZCI6IjExYXExdWJpdnMiLCJyZWdpb25zIjpbInNlYTEiXX0='